/* Стили для index.html */
:root {
    --primary-text-color: #2F303A;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --complementary-color: #FFFFFF;
}
body {
    background-color: #E5E5E5;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: var(--title-text-color);
}
.list {
    list-style: none;
}
.list .work-mail:hover , 
.list .work-mail:focus {
    color: var(--accent-color);
}
.work-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
/* site nav */
.sait-nav .link-nav {
    color: var(--title-text-color);
}
.sait-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.sait-nav .link-nav.current:hover ,
.sait-nav .link-nav.current:focus {
    color: var(--accent-color);
}
.link {
    width: 145px;
    height: 31px;
    color: var(--accent-color);
    
}
.сompany-logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
}
.сompany-logo-blak {
    color: var(--title-text-color);
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
}
.work-mail {
    color: #757575;
}
/* hero */
.hero {
    background-color: var(--primary-text-color); 
    width: 1600px;
    height: 600px; 
}
.hero-title {
  color: var(--complementary-color); 
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}
.button-clik {
    color: var(--complementary-color); 
    background-color: var(--accent-color); 
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
}
/* section */
.text {
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
}
.title {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}
.section-title-two {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    
} 
.image {
    left: 215px;
    top: 1061px;
}
.section-title-name {
    font-size: 16px;
    line-height: 1.2;
}
.position {
    color: #757575;
    font-size: 16px;
    line-height: 1.2;
}
.footer {
    background-color: var(--primary-text-color); 
}
.company-logo-white {
    color: var(--complementary-color);
    width: 145px;
    height: 31px;  
    font-size: 26px;
}
.address {
    color: var(--complementary-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.address-contacts {
    color: rgba(255, 255, 255, 0.6);
}
.address-contacts:hover {
    color: var(--accent-color); 
}
/* Стили для portfolio.html */
ul {
    list-style: none; 
}
.pointer {
    color: var(--title-text-color);
    background-color: #F5F4FA;
    cursor: pointer;
}
.pointer:hover {
    background-color: var(--accent-color);
}
/* Портфолио */
.text-portfolio {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px; 
}
.text-filter {
    color: #757575;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
}
